<html> 
<head>
  <style>
    * {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    td, th {
      border-bottom: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      margin: 0;
      border-collapse: collapse;
      border-spacing: 0;
    }
    tr {
      margin: 0;
    }
    .QueueContainer{
      background-color: rgba(255,255,0.7);
      padding: 2rem 1rem;
      border-radius: 8px;
    }

    th {
      background-color: rgb(255, 92, 92);
    }
    </style>
</head>
<body>
  <div class="QueueContainer">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>Order Number</th>
        <th>Customer Info</th>
        <th>Order Summary</th>
        <th>Order Status</th>
        <th>Ratings</th>
      </tr>
      <td>(ORDER NUMBER)</td>
      <td>CUSTOMER INFO</td>
      <td>(ORDER SUMMARY)</td>
      <td>(ORDER STATUS)</td>
      <td>(RATINGS)</td>
      <tr><center>
      <td>(ORDER NUMBER)</td>
      <td>CUSTOMER INFO</td>
      <td>(ORDER SUMMARY)</td>
      <td>(ORDER STATUS)</td>
      <td>(RATINGS)</td>
      <tr>
      <td>(ORDER NUMBER)</td>
      <td>CUSTOMER INFO</td>
      <td>(ORDER SUMMARY)</td>
      <td>(ORDER STATUS)</td>
      <td>(RATINGS)</td>
      <tr>
      <td>(ORDER NUMBER)</td>
      <td>CUSTOMER INFO</td>
      <td>(ORDER SUMMARY)</td>
      <td>(ORDER STATUS)</td>
      <td>(RATINGS)</td>
      <tr>
      <td>(ORDER NUMBER)</td>
      <td>CUSTOMER INFO</td>
      <td>(ORDER SUMMARY)</td>
      <td>(ORDER STATUS)</td>
      <td>(RATINGS)</td>
      <tr>
      <td>(ORDER NUMBER)</td>
      <td>CUSTOMER INFO</td>
      <td>(ORDER SUMMARY)</td>
      <td>(ORDER STATUS)</td>
      <td>(RATINGS)</td>
    </table>
  </div>
</body>